@use "../abstracts/mixins";

.gallery {
  --_cols: 2;

  display: grid;
  grid-template-columns: repeat(var(--_cols), minmax(0, 1fr));

  @include mixins.mq(large, up) {
    --_cols: 4;
  }

  > img {
    width: 100%;
    object-fit: cover;

    // * On small devices, images should be square-shaped
    @include mixins.mq(large, down) {
      aspect-ratio: 1;
    }
  }
}
