@use "../abstracts/colors";
@use "../abstracts/typography";
@use "../abstracts/mixins";

.testimonials {
  padding-block: 4em;

  text-align: center;

  @include mixins.mq(large, up) {
    padding-block: 8em;
  }

  &__heading {
    margin-bottom: 4em;

    font-family: typography.$ff-primary-serif;
    font-size: typography.$fs-350;
    font-weight: typography.$fw-900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: colors.$clr-grayish-blue;

    @include mixins.mq(large, up) {
      font-size: typography.$fs-450;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    width: 70px;
    aspect-ratio: 1;
    margin-bottom: 2em;

    border-radius: 100vmax;
  }

  &__description {
    margin-bottom: 2em;

    color: colors.$clr-very-dark-grayish-blue;
  }

  &__client-name {
    margin-bottom: 0.25em;

    font-family: typography.$ff-primary-serif;
    font-weight: typography.$fw-900;
    color: colors.$clr-very-dark-desatured-blue;
  }

  &__client-profession {
    font-size: typography.$fs-300;
    color: colors.$clr-grayish-blue;
  }

  // * Layout stuff
  &__cards {
    display: grid;
    gap: 4em;

    @include mixins.mq(large, up) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
