@use "sass:map";
@use "../abstracts/breakpoints";

// * Mixin that creates a media query given:
// * - a breakpoint name (must be a key of breakpoints.$breakpointsMap)
// * - a direction (must be either up or down)
@mixin mq($breakpoint-name, $direction: up) {
  @if not map-has-key($map: breakpoints.$breakpointsMap, $key: $breakpoint-name)
  {
    @error "`#{$breakpoint-name}` is not a valid key for the map breakpoints.$breakpointsMap";
  }

  $_breakpoint-value: map.get(
    $map: breakpoints.$breakpointsMap,
    $key: $breakpoint-name,
  );

  @if $direction == down {
    @media (max-width: calc($_breakpoint-value - 0.1px)) {
      // @debug "mq down: #{$breakpoint-name} [#{$_breakpoint-value}]";
      @content;
    }
  } @else {
    @media (min-width: $_breakpoint-value) {
      // @debug "mq up: #{$breakpoint-name} [#{$_breakpoint-value}]";
      @content;
    }
  }
}
