$ff-primary-sans-serif: Barlow, sans-serif;
$ff-primary-serif: Fraunces, serif;

$fs-300: 0.8rem;
$fs-350: 1rem;
$fs-400: 1.125rem;
$fs-450: 1.5rem;
$fs-500: 1.75rem;
$fs-800: 2rem;
$fs-900: 3rem;

$fw-600: 600;
$fw-700: 700;
$fw-900: 900;
